.dccache
.token
years

# master copies of devcontainer files are stored in lang/
.devcontainer/devcontainer.json
.devcontainer/Dockerfile

# Clojerl (Clojure? Calva extension for VS Code?)
.clj-kondo
.lsp
/.vscode

# Python
/years/**/python/aoc/__pycache__

# typescript
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
# .pnp.*
